<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Document</title>
</head>

<body>
    <h1>New Product Page</h1>
    <form action="/products" method="post">
        Name: <input type="text" name="name" /><br />
        Description: <input type="text" name="description" /><br />
        Image: <input type="text" name="img" value="https://i.imgur.com/5G2zYum.png" /> <br />
        Quantity: <input type="number" name="qty" /> <br />
        Price: <input type="number" name="price" /> <br />
        <input type="submit" name="" value="Add Product" />
    
    </form>
</body>

</html>